/* pokemon */

ul.pokemon-list {
  list-style: none;
}

li.pokemon-tile {
  float: left;
}

.pokemon_tile {
  display: inline-block;
}


/* pokemon_detail */


/* trainer_detail  */
.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
