<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Imports -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='pokeball.ico') }}">
		<title>Pokedex</title>
		<script
			src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
		</script>
	</head>
	<!-- Header -->
	<div class="row top-menu">
		<div class="col-md-6">
			<a href="{{url_for('index')}}">
				<button><i class="fas fa-list-ul"></i> Show All Pokemon</button>
			</a>
		</div>
		<div class="col-md-6 text-right">
			{% if "username" not in session: %}
				<a href="{{ url_for('login') }}">
					<button><i class="fas fa-sign-in-alt"></i> Login</button>
				</a>
			{% elif "username" in session: %}
				<a href="{{ url_for('showTrainer', user_id=session.user_id) }}">
					<button><i class="fas fa-user-circle"></i> Profile ({{ session.username }})</button>
				</a>
				<a href="{{ url_for('logout') }}">
					<button><i class="fas fa-sign-out-alt"></i> Logout</button>
				</a>
			{% endif %}
		</div>
	</div>

	<body>
		<div class="container">
			<div class='flash'>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul>
						{% for message in messages %}
								<li> <strong> {{ message }} </strong> </li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</body>

	<!-- Footer?  add to all pages from separate file  pikachu -->
</html>
