{% extends "main.html" %}
{% block content %}
    <div class="filters py-3">
      <!-- <span>
        <input class="search" type="search" placeholder="Search by pokemon ID or name..." aria-label="Search">
      </span> pikachu -->

      <div class="btn-group" role="group" aria-label="Pokemon type filter">
        {% for t in types: %}
        <a href="{{ url_for('pokemonByType', type=t.name) }}">
          <button class="btn filter-btn type px-1 text-capitalize" id="{{ t.name }}"
              role="button" type="button">
            {{ t.name }}
          </button>
        </a>
        {% endfor %}
      </div>
      <div class="btn-group" role="group" aria-label="Pokemon region filter">
        <button class="btn btn-info dropdown-toggle filter-btn" id="regionDropdown"
            type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" role="button">
          Region
        </button>
        <div class="dropdown-menu" aria-labelledby="regionDropdown">
        {% for r in regions: %}
        <a href="{{ url_for('pokemonByRegion', region_name=r) }}">
          <button class="dropdown-item text-capitalize" type="button">
            {{ r[0] }}
          </button>
        </a>
        {% endfor %}
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="pokemon-list">
        {% for p in pokemon: %}
        <li class="tile p-1">
          <a class="tile-link" onclick="loadPokemonDetail(pokemon_id={{p.id}})" href="javascript:void(0);">
            <div>
              <img height="75" width="75" src="{{ p.pokemon_sprite.sprite_url }}"
                alt="{{ p.pokemon_sprite.name }}">
            </div>
            <div class="text-center">
              <div class="id">
                #{{ p.id }}
              </div>
              <div class="name text-capitalize">
                {{ p.name }}
              </div>
              {% for t in p.pokemon_type: %}
                <span class="{{ t.type.name }}" id="type">{{ t.type.name }}</span>
              {% endfor %}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
