<html>
  <body>
    {% for p in pokemon: %}
      <img src="{{ p.pokemon_sprite.sprite_url }}"
        alt="{{ p.pokemon_sprite.name }}">
      <ul>
      <li>
        {{ p.name }}
      </li>
      <li>
        {% for type in p.pokemon_type %}
          {{ type.pokemon_type.name }}
        {% endfor %}
      </li>
      <li>
        {{ p.poke_id }}
      </li>
      <li>
        {{ p.description }}
      </li>
      <li>
        {{ p.height }}
      </li>
      <li>
        {{ p.weight }}
      </li>
      <li>
        {{ p.generation }}
      </li>
    </ul>
    {% endfor %}
  </body>
</html>
