<script>
$('#pokemonDetail').modal('show')
</script>

<!-- Modal -->
<div class="modal fade" id="pokemonDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-capitalize">
          {{pokemon.name}} <span class="id">#{{ pokemon.id }}</span>
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <div class="row justify-content-center">
          <figure class="poke-pic">
            <img src="{{ pokemon.pokemon_sprite.sprite_url }}"
              alt="{{ pokemon.pokemon_sprite.name }}" height="100%" width="100%">
          </figure>
        </div>

        <h4>Pokedex Data</h4>
        <hr />
        <div class="rowpx-3">
          {{ pokemon.description }}
        </div>
        <hr />
        <div class="row">
          <strong class="col-2">Type: </strong>
          {% for t in pokemon.pokemon_type: %}
            <span class="{{ t.type.name }} col-4 font-18" id="type">{{ t.type.name.capitalize() }}</span>
          {% endfor %}
        </div>
        <hr />
        <div class="row">
          <span class="col-6">
            <strong>Height: </strong>
            {{ pokemon.height/ 10.0 }} Meters
          </span>
          <span class="col-6">
            <strong>Weight: </strong>
            {{ pokemon.weight / 10.0 }} Kg
          </span>
        </div>
        <div class="row">
          <span class="col-12 my-2">
            <strong>Region: </strong>
            {{ pokemon.region_name.capitalize() }}
          </span>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <span>
          <a href="{{ url_for('addToParty', pokemon_id=pokemon.id) }}">
            <button class="add-pokemon btn btn-success" type="submit">Add To Party</button>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
