{% extends "main.html" %}
{% block content %}

  <div id class="pokemon-grid">
    {% for p in pokemon: %}
    <ul class="pokemon-list">
      <li class="pokemon-tile">
        <figure>
          <a href="{{ url_for('pokemonDetail', pokemon_id=p.id )}}">
            <img src="{{ p.pokemon_sprite.sprite_url }}"
              alt="{{ p.pokemon_sprite.name }}">
          </a>
        </figure>
        <div class="pokemon-info">
          <div class="pokemon-id">
            {{ p.poke_id }}
          </div>
          <div class="pokemon-name">
            {{ p.name.capitalize() }}
          </div>
        </div>
        <a href="{{ url_for('pokemonDetail', pokemon_id = p.poke_id) }}">
          <span>
            <button class="view-pokemon" type="submit">View</button>
          </span>
        </a>
      </li>
    </ul>
    {% endfor %}
  </div>

{% endblock %}
