{% extends "main.html" %}
{% block content %}

<div>
  <h1> Trainer Info </h1>

  <div class="row">
    {% if trainer.picture: %}
    <div class="col-md-2">
      <figure class="figure">
        <img class="figure-img img-fluid rounded" src="{{ trainer.picture }}" alt="Profile picture">
      </figure>
    </div>
    {% endif %}
    <div class="col-md-3">
      <span>
        <strong>ID:</strong> {{ trainer.id }}
      </span>
      <br />
      <span>
        <strong>Name:</strong> {{ trainer.name }}
      </span>
      <br />
      <span>
        <strong>Email:</strong> {{ trainer.email }}
      </span>
    </div>
  </div>

  <div>
    <h4>{{ trainer.name }}'s Party:</h4>
    <ol class="party-list">
      {% for p in party: %}
      <li class="party-item">
        <a onclick="loadPokemonDetail(pokemon_id={{p.pokemon.id}})" href="javascript:void(0);">
          <img src="{{ p.pokemon.pokemon_sprite.sprite_url }}"
            alt="{{ p.pokemon.pokemon_sprite.name }}">
        </a>
        <div class="text-center text-capitalize">
          <div class="id">
            #{{ p.pokemon.id }}
          </div>
          <div class="name text-capitalize">
            <span class="font-18">{{ p.nickname if p.nickname else p.pokemon.name }} </span> <span>{{ "lvl: " + p.level if p.level else "" }}</span>
          </div>
          {% for t in p.pokemon.pokemon_type: %}
            <span class="{{ t.type.name }}" id="type">{{ t.type.name }}</span>
          {% endfor %}
        </div>
        {% if canEditDelete: %}
          {% if p.isEditing: %}
          <hr />
          <form action="{{ url_for('editPartyMember', user_id=trainer.id, user_pokemon_id=p.id ) }}" method = "POST">
            <label class="font-italic">Edit your {{ p.pokemon.name.capitalize() }}</label>
            <div class="form-group">
              <label class="justify-content-start" for="nickname">Nickname </label>
              <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Choose a nickname...">
            </div>
            <div class="form-group">
              <label class="justify-content-start" for="level">Level </label>
              <input type="text" name="level" class="form-control" id="level" placeholder="Choose a level...">
            </div>
            <div class="form-group">
              <label class="justify-content-start" for="order">Order in party </label>
              <input type="number" name="party_order" min=1 max=6 class="form-control" id="order" placeholder="Between 1 and 6...">
            </div>
            <input class="btn btn-success" type="submit" value="Save"/>
          </form>
          {% else: %}
          <a href="{{ url_for('editPartyMember', user_id=trainer.id, user_pokemon_id=p.id) }}">
            <button class="btn btn-primary">Edit</button>
          </a>
          <button class="btn btn-warning" onclick="deletePokemon(this)" data-up-id={{p.id}}>Release</button>
          {% endif %}
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
</div>

<script type="text/javascript">
function deletePokemon(obj) {
  var trainer_id = {{ session.user_id }};
  var user_pokemon_id = obj.getAttribute("data-up-id");
  if (confirm('Are you sure?')) {
    $.ajax({
      type: 'POST',
      url: "/trainer/" + trainer_id + "/delete/" + user_pokemon_id,
      success: function() {
        location.reload()
      }
    })
  }
}
</script>

{% endblock %}
